# Build output
build/

# IDE
.vscode/
!.vscode/settings.json
!.vscode/c_cpp_properties.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json

# clangd
.clangd/

# Zephyr workspace symlink
__repo__

# OS files
.DS_Store
Thumbs.db
